<section class="home" id="home">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(./images/hamburger.jpg)">
                <div class="content">
                    <!-- <span>our special dish</span> -->
                    <h3>Double Cheeseburger</h3>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p> -->
                    <a href="#" class="btn">Order now</a>
                </div>
            </div>

            <div class="swiper-slide" style="background-image: url(./images/bbq-bacon-burger.jpg);">
                <div class="content">
                    <!-- <span>our special dish</span> -->
                    <h3>BBQ Bacon Burger</h3>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p> -->
                    <a href="#" class="btn">Order now</a>
                </div>
            </div>

            <div class="swiper-slide" style="background-image: url(./images/spicy-burger.jpg);">
                <div class="content">
                    <!-- <span>our special dish</span> -->
                    <h3>Spicy Burger</h3>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p> -->
                    <a href="#" class="btn">Order now</a>
                </div>
            </div>
        <!-- <div class="swiper-pagination"></div> -->
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></di>v

</section>